language: bash
install: true
addons:
  ssh_known_hosts: 45.27.203.103:9250
before_deploy:
- openssl aes-256-cbc -K $encrypted_f180050e85b8_key -iv $encrypted_f180050e85b8_iv -in deploy_rsa.enc -out /tmp/deploy_rsa -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/deploy_rsa
- ssh-add /tmp/deploy_rsa
deploy:
  provider: script
  skip_cleanup: true
  script: rsync -r -e 'ssh -p 9250' --delete-after --quiet $TRAVIS_BUILD_DIR/app shelby@45.27.203.103:/home/shelby/app/tmp
  on:
    branch: master
